In [28]:
import pandas as pd

In [29]:
#loading dataset
df = pd.read_csv('Data/mental_health_analysis.csv')
df

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,1,16,F,9.654486,2.458001,5.198926,8.158189,3,0.288962,Moderate,Excellent
1,2,17,M,9.158143,0.392095,8.866097,5.151993,5,0.409446,Moderate,Good
2,3,15,M,5.028755,0.520119,4.943095,9.209325,2,0.423837,Moderate,Poor
3,4,17,F,7.951103,1.022630,5.262773,9.823658,5,0.666021,Moderate,Average
4,5,17,F,1.357459,1.225462,6.196080,11.338990,5,0.928060,High,Poor
...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,14,M,0.088148,1.003339,8.684888,5.922202,1,0.750205,Moderate,Average
4996,4997,15,F,7.161276,1.024644,5.312684,10.224924,4,0.427209,Moderate,Excellent
4997,4998,14,M,3.444383,2.877972,9.227726,4.059322,4,0.002893,High,Good
4998,4999,18,F,7.866525,2.395839,4.317831,10.657076,2,0.612063,High,Average
4999,5000,18,M,3.389362,1.375646,8.693171,6.977589,5,0.952662,Moderate,Excellent

In [30]:
df.columns

Index(['User_ID', 'Age', 'Gender', 'Social_Media_Hours', 'Exercise_Hours',
       'Sleep_Hours', 'Screen_Time_Hours', 'Survey_Stress_Score',
       'Wearable_Stress_Score', 'Support_System', 'Academic_Performance'],
      dtype='object')

# Cleaning data

In [31]:
#only getting the ['Age', 'Survey_Stress_Score', 'Screen_Time_Hours'] coloumn 
new_df = df[['Age', 'Survey_Stress_Score', 'Screen_Time_Hours', 'User_ID']]

In [32]:
new_df

      Age  Survey_Stress_Score  Screen_Time_Hours  User_ID
0      16                    3           8.158189        1
1      17                    5           5.151993        2
2      15                    2           9.209325        3
3      17                    5           9.823658        4
4      17                    5          11.338990        5
...   ...                  ...                ...      ...
4995   14                    1           5.922202     4996
4996   15                    4          10.224924     4997
4997   14                    4           4.059322     4998
4998   18                    2          10.657076     4999
4999   18                    5           6.977589     5000

[5000 rows x 4 columns]

In [33]:
new_df['Screen_Time_Hours']= new_df['Screen_Time_Hours'].astype('int64')

/var/folders/vw/pm30yvwx2j16k5b7q2hm828c0000gn/T/ipykernel_68308/2485562956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Screen_Time_Hours']= new_df['Screen_Time_Hours'].astype('int64')

In [34]:
new_df

      Age  Survey_Stress_Score  Screen_Time_Hours  User_ID
0      16                    3                  8        1
1      17                    5                  5        2
2      15                    2                  9        3
3      17                    5                  9        4
4      17                    5                 11        5
...   ...                  ...                ...      ...
4995   14                    1                  5     4996
4996   15                    4                 10     4997
4997   14                    4                  4     4998
4998   18                    2                 10     4999
4999   18                    5                  6     5000

[5000 rows x 4 columns]

In [35]:
#checking for missing values
new_df.isnull().sum()

Age                    0
Survey_Stress_Score    0
Screen_Time_Hours      0
User_ID                0
dtype: int64

In [36]:
#checking for duplicates 
new_df.duplicated().sum()

0

In [37]:
#Count how many duplicate values exist in the User_ID column
new_df['User_ID'].duplicated().sum()

0

In [42]:
# droping user_Id column
new_df = new_df.drop("User_ID", axis=1)

In [62]:
new_df

      Age  Survey_Stress_Score  Screen_Time_Hours
0      16                    3                  8
1      17                    5                  5
2      15                    2                  9
3      17                    5                  9
4      17                    5                 11
...   ...                  ...                ...
4995   14                    1                  5
4996   15                    4                 10
4997   14                    4                  4
4998   18                    2                 10
4999   18                    5                  6

[5000 rows x 3 columns]

In [47]:
new_df.dtypes

Age                    int64
Survey_Stress_Score    int64
Screen_Time_Hours      int64
dtype: object

In [61]:
#checking for outliers 
#checking if there is score greater than the range
(new_df["Survey_Stress_Score"] >5).any() == False

True

In [64]:
# savind the clean data in data folder 
new_df.to_csv('Data/cleaned_mental_health_data.csv', index=False)

# Visulaization